.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-icon {
    display: none;
  }
  
  .nav-links {
    display: flex;
  }
  .active-link {
  font-weight: bold;
  border-bottom: 2px solid white;
  color: #ffeb3b; /* optional: bright highlight */
}

  
  .nav-links a {
    margin-left: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    .drawer-container {
      position: fixed;
      width: 30%;
      height: 26%;
      top: 0;
      z-index: 1000;
    }
  }
  