.content {
    padding-top: 0;
    width:100%;
    height:70vh;
    display:flex;
   
    
    justify-content: center;
}
.desc {
    width:60%;
    height: 80%;
     padding:0;
     margin:0;
    color:#333;
    text-align: justify;
    
}
.disc h1{
    text-align: justify;
    color:#333;
    font-size: 0.9rem;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
     .desc {
    width:90%;
     }
   .content .disc h1{
        text-align: justify;
       
        color:#333;
        line-height: o.8;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
          
}