<div class="content">
    <div class="desc">
    <h1>This system is a secure, scalable platform designed to protect credit card transactions 
        on third-party websites using hybrid encryption, tokenization, and real-time fraud detection.
         It integrates cryptographic security, token-based payment authorization, and suspicious activity
          monitoring to ensure data confidentiality, integrity, and trust.

        The application comprises a frontend and a backend tier. The frontend is an Angular 
        application running on port 4200, hosted on Vercel. The backend is built with Django 
        and Django REST Framework, running on port 8080, packaged in docker container and deployed on Render. A PostgreSQL database, 
        hosted on Xata.io and running on port 5432, supports persistent data storage.
            </h1>
</div>
</div>